body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.calcContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.calcBody{
    height: max(min(90vmin, 900px),600px);
    width: max(min(45vmin, 450px),300px);
    border-radius: 3vmin;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
}
.calcBody div{
    flex: 1;
    border-radius: 20px;
}
.calcBody .screenContainer{
    flex: 0 0 35%;
    display: flex;
    align-items: center;
    padding: 5%;
    padding-left: 0%;
    padding-right: 0%;

}
.calcBody .screenContainer .screen{
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 0px inset rgba(0,0,0,0.12),
                2px 2px 1px inset rgba(0,0,0,0.12),
                3px 3px 2px inset rgba(0,0,0,0.12),
                -1px -1px 0px inset rgba(0, 0, 0, 0.08);
    height: 90%;
    width: 90%;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
    font-family: sans-serif;
    text-align: right;
    padding: 1vmin;
    padding-left: 2vmin;
    padding-right: 2vmin;
    font-size: 7vmin;
}
.calcBody .buttonContainer{
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2vmin;
}
.buttonContainer div{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.buttonContainer div .buttonEquals{
    flex: 0 0 47.5%;
}
button{
    background-color:rgba(135, 206, 250, 0.566);
    width: 50%;
    height: 100%;
    margin: 1%;
    padding: 0px;
    border-radius: 6vmin;
    border: 0px;
    font-size: min(5vmin, 20px);
    box-shadow: 1px 1px 0px inset rgba(0,0,0,0.12);
}
button:active{
    border: 2px solid black;
}
