*{
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 300;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.calcContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.calcBody{
    height: max(min(75vmin, 900px),600px);
    width: max(min(50vmin, 600px),400px);
    display: flex;
    flex-direction: column;
}
.calcBody div{
    flex: 1;
}
.calcBody .screenContainer{
    flex: 0 0 25%;
    padding: 1vmin;
    padding-bottom: 0vmin;
    background-color: rgba(228, 228, 228, 0.5);
    box-shadow: 1px 1px 0px inset rgba(0,0,0,0.12),
                2px 2px 1px inset rgba(0,0,0,0.12),
                3px 3px 2px inset rgba(0,0,0,0.12),
                -1px -1px 0px inset rgba(0, 0, 0, 0.08);
    display:flex;
    align-items: center;
}
.calcBody .screenContainer .screen{

    height: 70%;
    width: 99%;
    text-align: right;
    color: rgb(61, 61, 61);
    font-size: 15em;
    align-items: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.calcBody .buttonContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 1vmin;
}
.buttonContainer div{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.buttonContainer div .buttonEquals{
    flex: 0 0 50%;
}
.buttonContainer div .buttonClear{
    flex: 0 0 50%;
    background-color: rgba(255, 192, 203, 0.459);
    box-shadow: 1px 1px 0px inset rgba(0,0,0,0.12);
}

.buttonContainer div .buttonClear:active{
    box-shadow: 0px 0px 5px inset rgba(0,0,0,0.33);
    background-color: rgb(225, 168, 177);
}

button{
    flex: 1;
    background-color: rgba(255, 255, 255, 0.194);
    color: rgba(0, 0, 0, 0.445);
    height: 100%;
    padding: 0px;
    border: 0px;
    font-size: 5em;
    font-weight: bolder;
    box-shadow: 1px 1px 0px inset rgba(0,0,0,0.12);
}
button:active{
    box-shadow: 0px 0px 5px inset rgba(0,0,0,0.33);
    background-color: rgba(120, 200, 230, 0.777);
}
